<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Document</title>
    <script src="src/js/index.jsx" defer></script>
    <script type="text/javascript">
        // // icon 
        // function blink(id){
        //     var element = document.getElementById(id);

        //     if (typeof(element) != 'undefined' && element != null)
        //     {
        //         element.classList.contains("blink") ? element.classList.remove("blink") : element.classList.add("blink");
        //         return true
        //     }else{return false}
        // }

        // function ToggleVisible(id){
        //     var element = document.getElementById(id);

        //     if (typeof(element) != 'undefined' && element != null)
        //     {
        //         element.style.display === "none" ?  element.style.display = "inline-block" : element.style.display = "none";
        //         return true
        //     }else{return false}
        // }

        // //alert
        // function HideAlert(){
        //     var elem = document.getElementById("alert");
        //     var pos = 0;
        //     var id = setInterval(frame, 30);
        //     function frame() {
		// 		if (pos <= -Math.abs(elem.offsetWidth)) {
		// 			console.log('slide end')
		// 			clearInterval(id);
		// 		} else {
		// 			pos = pos - 20
		// 			elem.style.right = pos + 'px';
		// 		}
        //     }
		// }
		
		// function ShowAlert(){
        //     var elem = document.getElementById("alert");
        //     var pos = elem.offsetLeft;
        //     var id = setInterval(frame, 30);
        //     function frame() {
		// 		if (pos <= -Math.abs(elem.offsetWidth)) {
		// 			console.log('slide end')
		// 			clearInterval(id);
		// 		} else {
		// 			pos = pos + 20
		// 			console.log(pos)

		// 			elem.style.right = pos + 'px';
		// 		}
        //     }
        // }

    </script>
</head>
<body>
    <div id="app"></div>
</body>
</html>